
<div class="columns">
  <div class="column is-8 is is-offset-2">
    <% if user_signed_in? %>
      <div class="buttons">
        <%= link_to (t "helpers.link.routine.new"), new_routine_path, class: 'button is-link' %>
      </div>
    <% end %>
    <% if @routines.empty? %>
      <div class="message" id="no-routines">
        <div class="message-body">
          <div class="content">
            <%= t "helpers.messages.no_routines" %>
          </div>
        </div>
      </div>
    <% else %>
      <% @routines.each do |routine| %>
        <div class="message">
          <div class="message-header">
            <%= link_to routine.name, routine_path(routine) %>
          </div>
          <div class="message-body">
            <div class="content">
              <%= truncate(routine.description, length: 250)  %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>