
<div class="columns">
  <div class="column is-8 is is-offset-2">
    <div class="buttons">
      <%= link_to "Novo Treino", new_routine_path, class: 'button is-link' %>
    </div>
    <% if @routines.empty? %>
      <div class="message" id="no-routines">
        <div class="message-body">
          <div class="content">
            NENHUM TREINO CRIADO
          </div>
        </div>
      </div>
    <% else %>
      <% @routines.each do |routine| %>
        <div class="message">
          <div class="message-header">
            <%= link_to routine.name, routines_path(routine) %>
          </div>
          <div class="message-body">
            <div class="content">
              <%= truncate(routine.description, length: 250)  %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>