<% if obj.errors.any? %>
  <div class="panel is-danger is-offset-1">
    <div class="panel-heading">
      <h2 class="panel-title">
        <%= pluralize(obj.errors.count, "erro") %>
        proibiram esse <%= obj.model_name.human.to_s.downcase %> de ser salvo: </h2>
      <div class="panel-block">
        <ul>
          <% @routine.errors.full_messages.each do |msg| %>
            <li>
              - <%= msg %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>